Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Determines which version of gitlab-shell to deploy
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Update auto-deploy image check for gitlab-shell
  auto-deploy-image-check/gprd-zonal.json
  auto-deploy-image-check/gstg-zonal.json
Due: none

Adds shell to list of changes for canary
  auto-deploy-image-check/gprd-cny.json
Due: none

Updates README with additional vars you must set
  auto-deploy-image-check/README.md
Due: none

Configures gitlab-shell safely during config changes
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

adjust name of variable
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Update location of KAS secret in chef to be correct
  releases/gitlab-secrets/helmfile.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Document asdf plugins
  README.md
Due: none

Increase max-replicas to 150
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Increases the minimum replicas for registry to 50
  1
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Removes the registry service from the regional cluster
  bases/environments.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, gstg:qa

Revert "Merge branch 'jarv/remove-registry-regional' into 'master'"
  bases/environments.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, gstg:qa

Use external registry host for api
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Move api config under gitlab:
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Move variable declare closer to usage
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Move registry api host declaration into environments
  bases/environments.yaml
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Make change for staging and preprod initially
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Use the external registry endpoint for the api
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds nginx lifecycle for nonprod environments
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Set the registry API endpoint for webservice
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Revert "Merge branch 'jarv/remove-registry-regional' into 'master'""
  bases/environments.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, gstg:qa

Leaves regional registry enabled on prod for now
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Disables the registry deployment in the regional cluster
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Bump Container Registry to v2.12.0-gitlab
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Revert to default HPA settings on memory-bound sidekiq
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Enable registry sentry reporting on staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, gstg:qa

Modify keepalive settings in nginx for non-prod
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Removes unnecessary overrides in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Image check override must be set to true
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds check for POST_DEPLOYMENT_PATCH
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Bumps common image to 3.4.1
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Change keepalive settings for nginx in non-prod
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Make the lifecycle rule default for nginx
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Remove lifecycle rules
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adjusts keepalive settings for nginx ingress in canary
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Bumps Pod availability for nginx
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bumps CHART_VERSION to the latest on master
  CHART_VERSION
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Increases requests for nginx-controller for production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade
