Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Adds LD_PRELOAD to production sidekiq
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Enables jemalloc for the webservice pods
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Upgrades the ingress controller to version 0.26.0
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Upgrades the ingress controller to version 0.26.0"
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Sets service-upstream for pre and staging
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Sets service-upstream for production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds a dummy env var for deployment
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Increases reservations for nginx
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Removes the TEST_VAR that was set to force a deployment
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adjust the mem req and limit for gprd catchall sidekiq
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adjusts requests/limits for webservice
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

This puts the limit back to 3G and explicitly enables jemalloc for canary
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Restore cpu limits
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bump Container Registry version to v2.11.0
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Change `gprd-cny.yaml.gotmpl` to correctly inherit and merge `gprd` settings
  releases/gitlab/helmfile.yaml
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bump version of `kas` to v0.0.8
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa

Cleans up inherited values
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Reduces the minimum number of replicas, increases requests for memory
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Lowers the minimum number of replicas to 5 for canary
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Lowers minimum replicas for webservice
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds a check for auto-deploy, that validates what we are changes matches what we expect for an image only update
  README.md
  auto-deploy-changes.json
  bin/k-ctl
  releases/gitlab/helmfile.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Use directory for check files
  README.md
  auto-deploy-image-check/README.md
  auto-deploy-image-check/gprd-cny.json
  auto-deploy-image-check/gprd-us-east1-b.json
  auto-deploy-image-check/gprd-us-east1-c.json
  auto-deploy-image-check/gprd-us-east1-d.json
  auto-deploy-image-check/gprd-zonal.json
  auto-deploy-image-check/gprd.json
  auto-deploy-image-check/gstg-us-east1-b.json
  auto-deploy-image-check/gstg-us-east1-c.json
  auto-deploy-image-check/gstg-us-east1-d.json
  auto-deploy-image-check/gstg-zonal.json
  auto-deploy-image-check/gstg.json
  auto-deploy-image-check/pre.json
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Shfmt
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

adds debug
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Removes extraneous text from diff output
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Removes debug
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Updates canary
  auto-deploy-image-check/gprd-cny.json
Due: none

Defaults AUTO_DEPLOY to false in k-ctl
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Disable action cable
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Increase the memory request and limits for workhorse
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Removes LD_PRELOAD for staging
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, gstg:qa

Removes LD_PRELOAD on production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Increases requests for cpu/memory on urgent-other
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Increases the maximum replicas, memory and requests for nginx
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Set SKIP_QA explicitly to true
  .gitlab-ci.yml
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Use default configs for expire_build_artifacts_worker
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

sets gitlab-shell equal to that of the application instead of the same master for every deploy
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds a set of labels to ensure metric consistency
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jts/dont-use-master-for-gitlab-shell' into 'master'"
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Scales gprd urgent-other sidekiq shard
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade
