Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Set minimum replica-count for SSH Service in GPRD to 100
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Tooling update minor/patch
  .gitlab-ci.yml
  .tool-versions
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Reduce sleep time between registry GC blob reviews (gprd)
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Reduce pages rate limit domain bucket size in pre and staging
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Reduce pages domain rate limit initial burst size for production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 3b94fa4e1cf5a31c2632499a23a361a948083613 in pre
  bases/environments.yaml
  charts/gitlab/pre/.gitlab-ci.yml
  charts/gitlab/pre/CHANGELOG.md
  charts/gitlab/pre/Chart.yaml
  charts/gitlab/pre/charts/certmanager-issuer/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/pre/charts/registry/Chart.yaml
  charts/gitlab/pre/charts/registry/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 3b94fa4e1cf5a31c2632499a23a361a948083613 in gstg
  bases/environments.yaml
  charts/gitlab/gstg/.gitlab-ci.yml
  charts/gitlab/gstg/CHANGELOG.md
  charts/gitlab/gstg/Chart.yaml
  charts/gitlab/gstg/charts/certmanager-issuer/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gstg/charts/registry/Chart.yaml
  charts/gitlab/gstg/charts/registry/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 3b94fa4e1cf5a31c2632499a23a361a948083613 in gprd
  bases/environments.yaml
  charts/gitlab/gprd/.gitlab-ci.yml
  charts/gitlab/gprd/CHANGELOG.md
  charts/gitlab/gprd/Chart.yaml
  charts/gitlab/gprd/charts/certmanager-issuer/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gprd/charts/registry/Chart.yaml
  charts/gitlab/gprd/charts/registry/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Pre and Staging: Bump Container Registry to v3.39.3-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: Bump Container Registry to v3.39.3-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Config MailRoom to use webhook delivery method
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Reduce pages domain rate limit burst size in production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

temporarily increase registry min replicas for higher migration throughput
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Config MailRoom to use webhook delivery method
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.40.0 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.40.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Add Kubernetes secrets for all current values in `values-from-external-sources.yaml.gotmpl`
  releases/gitlab-secrets/helmfile.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Removes pseudonymizer deprecations from our config
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jts/remove-pseudonymizer-deprecations' into 'master'"
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Pre and Staging: Bump Container Registry to v3.41.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: Bump Container Registry to v3.41.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 41d7632d9eba84f5816d808b98ccf3f5623e9fb5 in pre
  bases/environments.yaml
  charts/gitlab/pre/.gitlab-ci.yml
  charts/gitlab/pre/CHANGELOG.md
  charts/gitlab/pre/Chart.yaml
  charts/gitlab/pre/charts/gitlab-runner-0.40.0.tgz
  charts/gitlab/pre/charts/gitlab-runner-0.40.1.tgz
  charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitaly/templates/_configmap_spec.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/deployment.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/pre/charts/gitlab/templates/_pseudonymizer.tpl
  charts/gitlab/pre/charts/minio/values.yaml
  charts/gitlab/pre/charts/registry/Chart.yaml
  charts/gitlab/pre/charts/registry/values.yaml
  charts/gitlab/pre/requirements.yaml
  charts/gitlab/pre/templates/_checkConfig.tpl
  charts/gitlab/pre/templates/_checkConfig_object_storage.tpl
  charts/gitlab/pre/templates/_checkConfig_sidekiq.tpl
  charts/gitlab/pre/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 41d7632d9eba84f5816d808b98ccf3f5623e9fb5 in gstg
  bases/environments.yaml
  charts/gitlab/gstg/.gitlab-ci.yml
  charts/gitlab/gstg/CHANGELOG.md
  charts/gitlab/gstg/Chart.yaml
  charts/gitlab/gstg/charts/gitlab-runner-0.40.0.tgz
  charts/gitlab/gstg/charts/gitlab-runner-0.40.1.tgz
  charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitaly/templates/_configmap_spec.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/deployment.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/templates/_pseudonymizer.tpl
  charts/gitlab/gstg/charts/minio/values.yaml
  charts/gitlab/gstg/charts/registry/Chart.yaml
  charts/gitlab/gstg/charts/registry/values.yaml
  charts/gitlab/gstg/requirements.yaml
  charts/gitlab/gstg/templates/_checkConfig.tpl
  charts/gitlab/gstg/templates/_checkConfig_object_storage.tpl
  charts/gitlab/gstg/templates/_checkConfig_sidekiq.tpl
  charts/gitlab/gstg/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Increase sidekiq-memory-bound maxReplicas
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 41d7632d9eba84f5816d808b98ccf3f5623e9fb5 in gprd
  bases/environments.yaml
  charts/gitlab/gprd/.gitlab-ci.yml
  charts/gitlab/gprd/CHANGELOG.md
  charts/gitlab/gprd/Chart.yaml
  charts/gitlab/gprd/charts/gitlab-runner-0.40.0.tgz
  charts/gitlab/gprd/charts/gitlab-runner-0.40.1.tgz
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitaly/templates/_configmap_spec.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/templates/_pseudonymizer.tpl
  charts/gitlab/gprd/charts/minio/values.yaml
  charts/gitlab/gprd/charts/registry/Chart.yaml
  charts/gitlab/gprd/charts/registry/values.yaml
  charts/gitlab/gprd/requirements.yaml
  charts/gitlab/gprd/templates/_checkConfig.tpl
  charts/gitlab/gprd/templates/_checkConfig_object_storage.tpl
  charts/gitlab/gprd/templates/_checkConfig_sidekiq.tpl
  charts/gitlab/gprd/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

feat(sidekiq): increase memory-bound concurrent
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Remove gitlab-pages SERVER_WRITE_TIMEOUT config
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

feat(sidekiq): increase memory-bound concurrency
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: set container registry migration tagconcurrency to 2
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Config MailRoom to use webhook delivery method"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump GitLab chart to 3c84c6255ef8b3b1914ff6afe2c5c29dd5c25523 for gprd
  bases/environments.yaml
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitaly/templates/_statefulset_spec.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/mailroom/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  charts/gitlab/gprd/charts/gitlab/charts/praefect/templates/statefulset.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/spamcheck/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/_datamodel.tpl
  charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/values.yaml
  charts/gitlab/gprd/charts/gitlab/templates/_helpers.tpl
  charts/gitlab/gprd/charts/registry/Chart.yaml
  charts/gitlab/gprd/charts/registry/templates/deployment.yaml
  charts/gitlab/gprd/charts/registry/templates/migrations-job.yaml
  charts/gitlab/gprd/charts/registry/values.yaml
  charts/gitlab/gprd/templates/_certificates.tpl
  charts/gitlab/gprd/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Move all gprd/gstg common pages config into values
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Reduce sidekiq threads per pod for urgent-cpu-bound
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update KAS to 15.0.0 in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Add gitaly nodes file71-75
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump gitlab-cache-expiry to 30m (default: 10m)
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Bundle up cache related settings
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Set gitlab-cache-expiry to 30m
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade
