Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Adds ability to send Grafana an annotation
  .gitlab-ci.yml
  bin/grafana-annotate
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds batch 3 of catchall into Kuberentes for non prod
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds batch 3 of catchall into Kubernetes for production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Increases the termination grace period to 180 seconds
  CHART_VERSION
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Increase grace period for git https connections
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Provides capabilities for deploying components
  bases/environments.yaml
  releases/gitlab/helmfile.yaml
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/init-values.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Add gitaly shard nfs-file56 to kubernetes config
  gl-infra_production_2759.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Enable Gitlab KAS in pre only
  CHART_VERSION
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'nnelson/add-gitaly-shard-nfs-file56' into 'master'"
  gl-infra_production_2759.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'ggillies/add-kas-to-pre' into 'master'"
  CHART_VERSION
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Keeps CHART_VERSION
  CHART_VERSION
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Creates a more generic deployment pipeline
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Fixes the annotation missing the env
  .gitlab-ci.yml
  bin/grafana-annotate
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Revert "Creates a more generic deployment pipeline"
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Enables gitlab-shell in preprod
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Enable Gitlab KAS in pre only
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Fixes the pull secret configuration for the shell
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa

Enable docker container registry profiling
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bump webhook timeout higher
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Move service toggling to environments.yaml
  bases/environments.yaml
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Continue to disable kas by default in values
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Read values for defaults
  bases/environments.yaml
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Use index to deal with the dash in the key name
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Enables registry, webservice, shell in the zonal clusters
  .gitlab-ci.yml
  bases/environments.yaml
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/helmfile.yaml
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Moves the shell to a non standard port
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds environment and CI configuration for staging zonal clusters
  .gitlab-ci.yml
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Removes resource_groups
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds batch4 catchall into Kubernetes
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds batch 4 sidekiq catchall into Kubernetes
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Uses the correct Pipeline ID in our annotations
  bin/grafana-annotate
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Disables the webservice pod in the regional cluster
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Revert "Merge branch 'jarv/disable-webservice-regional' into 'master'"
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Use the sidekiq deployment for determining the image
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds memory limits for the workhorse container
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Switch to checking the generic config map for Version
  bases/environments.yaml
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Fixes resource groups to prevent blocked deploys
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Updates helm chart to latest
  CHART_VERSION
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Enables and configures gitlab-shell for gstg
  bases/environments.yaml
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa
