Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Remove job needs curl
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Staging: Enable propagation of correlation ID from Gitaly nodes
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Change networkpolicy for web pods to allow API nodes to talk to KAS
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Registry: disable upload purging in staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Registry: disable upload purging in canary
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Route all remaining jobs to default
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Only listen to named queues on catchall
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable propagation of correlation ID from Gitaly nodes
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Registry: disable upload purging in prod
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Merge branch 'sh-propagate-correlation-id-api-staging' into 'master'"
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Test expedite changes
  CHEF_CONFIG_UPDATE
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Removes CDN_HOST in production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Promote networkpolicy change to allow API pods to talk to KAS to prod
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Re-route Sidekiq workers from VMs to Kubernetes
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Do not allow unavailable Pods during deploy for GitLab-Shell
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Add a dummy queue to the end of the catchall list
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Increase minimum and maximum number of web pods for gprd zonal clusters
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Switch sidekiq-job-limiting to compression mode
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Change to single-line YAML for catchall queue list
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Removes dummy queue
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump kas to v14.2.2 on pre and gstg for v14.2 release
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Bump kas to v14.2.2 on gprd for v14.2 release
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/init-values.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Sets CANARY=true for canary web pods
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Lower Sidekiq job size limits to 5MB
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Enable deprecation logging in staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Change sidekiq in preprod to better represent its use
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Bump memory limit for production
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump registry to v3.8.0-gitlab for pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Prod: Bump Container Registry to v3.8.0-gitlab
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Fix preprod dryrun auto-deploy check
  auto-deploy-image-check/pre.json
Due: none

Revert "Merge branch 'mk-deprecation-logger-gstg' into 'master'"
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Bump registry to v3.9.0-gitlab for pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Don't sync `gitlab.sidekiq.psql.host` from chef anymore
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Remove variable declaration that is unused
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Prod: Bump Container Registry to v3.9.0-gitlab
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Pre: Disable filesystem mirroring
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Route elasticsearch sidekiq jobs to named queue in gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Elasticsearch sidekiq listen to explicit queues
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Lower HPA scaling target for web pods
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Lower HPA scaling target for web pods to 2500
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade
