Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Fixes configuration for gitlab-shell for all environments
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jts/enable-gitlab-shell-gstg' into 'master'"
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Fixes gitlab-shell configuration
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Enables gitlab-shell on gstg
  bases/environments.yaml
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bump gitlab-mail_room version to 0.0.7
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds environment and CI configuration for production zonal clusters
  .gitlab-ci.yml
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds explicit resource groups for gprd-cny
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Removes zonal configuration in preprod
  .gitlab-ci.yml
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Enables gitlab-shell in canary
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Add Gitaly fileserver 58
  gl-infra_production_2814.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Increase resources for catchall
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Delete gl-infra_production_2814.yaml
  gl-infra_production_2814.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Enable webservice and gitlab-shell in the zonal defaults
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Apply 1 suggestion(s) to 1 file(s)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Increases the min/max replicas for git https rollout
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Revert "Merge branch 'jarv/increase-replicas' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Merge branch 'jarv/increase-replicas' into 'master'
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Lower min replicas to 30
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Add a single catchall sidekiq pod with rbtrace enabled
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds extra arguments to workhorse for queue limits
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jarv/adds-queue-limit' into 'master'"
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Moves the gitlab-shell to a dedicated node pool
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Add a single catchall sidekiq pod with rbtrace enabled"
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Merge branch 'jarv/adds-queue-limit' into 'master'
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds note about charts issue
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds batch5 to kubernetes
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds batch5 to kubernetes gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Updates README to include service info
  README.md
Due: none

Sets a conservative initialDelay seconds of 2 minutes for webservice pods
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Adds note about upgrade/rollback to README
  README.md
Due: none

Increases minimum number of pods to 50
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Set conservative deployment strategy
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Set maxUnavailable to zero
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Configures the performance desire for gitlab-shell in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds more bootstrapping instructions
  README.md
Due: none

Adds LD_PRELOAD to non-prod environments
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Fix typo
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Removing from preprod, because it does not have the new image yet
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa
