Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

pre:dryrun:
  variables:
    PROJECT: gitlab-pre
    REGION: us-east1
    CLUSTER: pre-gitlab-gke
  environment:
    name: pre
    url: https://pre.gitlab.com
  stage: dryrun
  script:
  - bin/k-ctl -D upgrade

pre:upgrade:
  variables:
    PROJECT: gitlab-pre
    REGION: us-east1
    CLUSTER: pre-gitlab-gke
    DRY_RUN: 'false'
  environment:
    name: pre
    url: https://pre.gitlab.com
  stage: non-prod:deploy
  script:
  - bin/grafana-annotate -e $CI_ENVIRONMENT_NAME
  - bin/k-ctl upgrade
  resource_group: pre

gstg:dryrun:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-gitlab-gke
    REGION: us-east1
  environment:
    url: https://staging.gitlab.com
    name: gstg
  resource_group: gstg
  stage: dryrun
  script:
  - bin/k-ctl -D upgrade

gstg-us-east1-b:dryrun:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-us-east1-b
    REGION: us-east1-b
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-b
  resource_group: gstg-us-east1-b
  stage: dryrun
  script:
  - bin/k-ctl -D upgrade

gstg-us-east1-c:dryrun:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-us-east1-c
    REGION: us-east1-c
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-c
  resource_group: gstg-us-east1-c
  stage: dryrun
  script:
  - bin/k-ctl -D upgrade

gstg-us-east1-d:dryrun:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-us-east1-d
    REGION: us-east1-d
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-d
  resource_group: gstg-us-east1-d
  stage: dryrun
  script:
  - bin/k-ctl -D upgrade

gstg:upgrade:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-gitlab-gke
    REGION: us-east1
    DRY_RUN: 'false'
  environment:
    url: https://staging.gitlab.com
    name: gstg
  resource_group: gstg
  stage: non-prod:deploy
  script:
  - bin/grafana-annotate -e $CI_ENVIRONMENT_NAME
  ...

gstg-us-east1-b:upgrade:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-us-east1-b
    REGION: us-east1-b
    DRY_RUN: 'false'
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-b
  resource_group: gstg-us-east1-b
  stage: non-prod:deploy
  script:
  - bin/grafana-annotate -e $CI_ENVIRONMENT_NAME
  ...

gstg-us-east1-c:upgrade:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-us-east1-c
    REGION: us-east1-c
    DRY_RUN: 'false'
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-c
  resource_group: gstg-us-east1-c
  stage: non-prod:deploy
  script:
  - bin/grafana-annotate -e $CI_ENVIRONMENT_NAME
  ...

gstg-us-east1-d:upgrade:
  variables:
    PROJECT: gitlab-staging-1
    CLUSTER: gstg-us-east1-d
    REGION: us-east1-d
    DRY_RUN: 'false'
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-d
  resource_group: gstg-us-east1-d
  stage: non-prod:deploy
  script:
  - bin/grafana-annotate -e $CI_ENVIRONMENT_NAME
  ...

Increase registry gc review delay from 24h to 48h (gprd)
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Increase registry gc review delay from 24h to 48h (gprd)"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Adds extraDir volume mount for Diag Reports [gprd]
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Set registry online GC storage timeout to 1s (pre/gstg)
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

gitlab-pages nodeSelector pages-1 -> pages-2
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Set registry online GC storage timeout to 1s (gprd)
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Merge branch 'revert-6624e0e1' into 'master'"
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Bump container registry to v3.53.0 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable diagnostic reports via ENV var for gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Updates Sentry DSN for Pre
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Bump container registry to v3.53.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable Sidekiq Memory Killer for catchall shard
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Remove the amazonaws.com URLs from the CSP
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

increase proxy-buffer-size for the API endpoint
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jarv/updates-dsn-for-preprod' into 'master'"
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Bump registry GC interval for manifest reviews from 1s to 2s (gprd)
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 6d5de06e9b86d6f687eb9bebfeb69b750697f4a5 in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab-runner-0.43.0.tgz
  vendor/charts/gitlab/pre/charts/gitlab-runner-0.43.1.tgz
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/charts/grafana-6.11.0.tgz
  vendor/charts/gitlab/pre/charts/grafana-6.9.1.tgz
  vendor/charts/gitlab/pre/charts/registry/Chart.yaml
  vendor/charts/gitlab/pre/charts/registry/values.yaml
  vendor/charts/gitlab/pre/requirements.yaml
  vendor/charts/gitlab/pre/values.yaml
Due: none

Bump to Gitlab chart 6d5de06e9b86d6f687eb9bebfeb69b750697f4a5 in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab-runner-0.43.0.tgz
  vendor/charts/gitlab/gstg/charts/gitlab-runner-0.43.1.tgz
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/charts/grafana-6.11.0.tgz
  vendor/charts/gitlab/gstg/charts/grafana-6.9.1.tgz
  vendor/charts/gitlab/gstg/charts/registry/Chart.yaml
  vendor/charts/gitlab/gstg/charts/registry/values.yaml
  vendor/charts/gitlab/gstg/requirements.yaml
  vendor/charts/gitlab/gstg/values.yaml
Due: none

Bump to Gitlab chart 6d5de06e9b86d6f687eb9bebfeb69b750697f4a5 in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab-runner-0.43.0.tgz
  vendor/charts/gitlab/gprd/charts/gitlab-runner-0.43.1.tgz
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/charts/grafana-6.11.0.tgz
  vendor/charts/gitlab/gprd/charts/grafana-6.9.1.tgz
  vendor/charts/gitlab/gprd/charts/registry/Chart.yaml
  vendor/charts/gitlab/gprd/charts/registry/values.yaml
  vendor/charts/gitlab/gprd/requirements.yaml
  vendor/charts/gitlab/gprd/values.yaml
Due: none

Configure tolerations for workloads in gstg
  releases/gitlab/values/gstg-cny.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Revert "Update releases/gitlab/values/gprd.yaml.gotmpl"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Lower memory fragmentation threshold for canaries
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update tooling
  .gitlab-ci.yml
  .tool-versions
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Convert main `.gitlab-ci.yml` to jsonnet
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .tool-versions
  Makefile
  README.md
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update the node selectors in gstg to target the new tainted node pools
  releases/gitlab/values/gstg-cny.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Revert "Merge branch 'pguinoiseau/gstg-update-node-selectors' into 'master'"
  releases/gitlab/values/gstg-cny.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Change labels on nginx-ingress to match our monitoring label taxonomy
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gstg-cny.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Refactor out `ci/deploy.yml` and `ci/except-com.yml`
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  ci/deploy.yml
  ci/except-com.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable memory watchdog for webservice us-east1-b
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd-us-east1-b.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enable memory watchdog in all webservice instances
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd-us-east1-b.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Bump to Gitlab chart 5ca661235c4148cb54822ef8fa4b0e480ab2a440 in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.markdownlint.yml
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/charts/registry/Chart.yaml
  vendor/charts/gitlab/gstg/charts/registry/values.yaml
Due: none

Bump to Gitlab chart 5ca661235c4148cb54822ef8fa4b0e480ab2a440 in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.markdownlint.yml
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/charts/registry/Chart.yaml
  vendor/charts/gitlab/gprd/charts/registry/values.yaml
Due: none

Bump to Gitlab chart 5ca661235c4148cb54822ef8fa4b0e480ab2a440 in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.markdownlint.yml
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/charts/registry/Chart.yaml
  vendor/charts/gitlab/pre/charts/registry/values.yaml
Due: none

Prod: increase registry gc review time from 24h to 48h
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Refactor `.gitlab-ci.yml` to remove `ci/except-ops.yml`
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  ci/check-vendored-charts.yml
  ci/except-ops.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update node selector for sidekiq-urgent-authorized-projects deployment in gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Switch to registry.k8s.io for Kubernetes specific images
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*
