Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

switch back to the old registry bucket in pre
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Disable gitlab-ssh in staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Re-enable gitlab-sshd in staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Bump container registry to v3.24.1 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

add pages zip cache expiration for non-prod envs
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enables debug logging on profiler for gitlab-shell prod cny
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Pre and Staging: Bump Container Registry to v3.25.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Production: Bump Container Registry to v3.25.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Lower domain rate limits for pages
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Lower domain rate limits for pages in prod
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump mailroom version to 0.0.19 on pre and gstg
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Remove debug logging from Cloud Profiling on Shell
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.26.0 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump mailroom version to 0.0.19 on gprd
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump KAS to v14.8.1 in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Bump container registry to v3.26.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.27.0 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.27.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.27.1 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.27.1 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.28.0 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.28.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enforce lower rate limits per domain for GitLab Pages
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.28.1 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.28.1 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update gitlab-extras ingress deprecation
  releases/gitlab-extras/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Specify new API version for chart
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Pre and Staging: Bump Container Registry to v3.28.2-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump KAS to v14.8.1 in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Add *.int.gstg.gitlab.net as an nginx server alias for Staging
  bases/environments.yaml
  releases/gitlab-extras/values.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Fixes NGINX server alias for Staging
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Expands the NGINX server alias for Production
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.28.2 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update nginx controller min replicas to 3
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Pre and Staging: Bump Container Registry to v3.29.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Production Canary: Bump Container Registry to v3.29.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Production: Bump Container Registry to v3.29.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.30.0 (pre)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade
