Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Path conditions:
  gprd-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:qa: any of: vendor/charts/gitlab/gstg/**/*, vendor/charts/gitlab-runner/gstg/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/gstg*
  gstg:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:qa: any of: vendor/charts/gitlab/pre/**/*, vendor/charts/gitlab-runner/pre/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/pre*
  pre:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml

Clean up kas objects in favour of HAProxy integration
  bases/environments.yaml
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Fix secret store name for cloudflare-api-token-v1
  releases/gitlab-external-secrets/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Fix secret path for cloudflare-api-token-v1
  releases/gitlab-external-secrets/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Add check-label-taxonomy ci check for proper label taxonomy on resources
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  bin/check-label-taxonomy.sh
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Prod: Increase prod registry gc review delay and migration timeouts
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 8f8d255d74a83881702e60f3d3cbefb489d077bd in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/.gitlab/merge_request_templates/Documentation.md
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/Gemfile.lock
  vendor/charts/gitlab/gprd/charts/gitlab-runner-0.44.0.tgz
  vendor/charts/gitlab/gprd/charts/gitlab-runner-0.45.0.tgz
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/values.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/templates/_objectStorage.tpl
  vendor/charts/gitlab/gprd/requirements.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 8f8d255d74a83881702e60f3d3cbefb489d077bd in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/.gitlab/merge_request_templates/Documentation.md
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/Gemfile.lock
  vendor/charts/gitlab/gstg/charts/gitlab-runner-0.44.0.tgz
  vendor/charts/gitlab/gstg/charts/gitlab-runner-0.45.0.tgz
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/values.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/templates/_objectStorage.tpl
  vendor/charts/gitlab/gstg/requirements.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 8f8d255d74a83881702e60f3d3cbefb489d077bd in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/.gitlab/merge_request_templates/Documentation.md
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/Gemfile.lock
  vendor/charts/gitlab/pre/charts/gitlab-runner-0.44.0.tgz
  vendor/charts/gitlab/pre/charts/gitlab-runner-0.45.0.tgz
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/values.yaml
  vendor/charts/gitlab/pre/charts/gitlab/templates/_objectStorage.tpl
  vendor/charts/gitlab/pre/requirements.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Change workload identity annotations for kas in cny
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Adds SUGGESTED_REVIEWERS_SECRET as a secret for suggested reviewers
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Revert "Merge branch 'hswimelar-master-patch-58886' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Make helmfile/helm-diff normalize manifests in diff comparison
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .tool-versions
  bin/k-ctl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Prod: Increase prod registry gc review delay and migration timeout
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Adds SUGGESTED_REVIEWERS_SECRET to Sidekiq
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump to Gitlab chart 185c26aff38295742e4d9264fa920c1775883baa in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/values.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gstg/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/gstg/charts/registry/values.yaml
  vendor/charts/gitlab/gstg/templates/_checkConfig_registry.tpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 185c26aff38295742e4d9264fa920c1775883baa in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/values.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gprd/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/gprd/charts/registry/values.yaml
  vendor/charts/gitlab/gprd/templates/_checkConfig_registry.tpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Add BulkImports::RelationExportWorker to imports shard to gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Adds CDN key for artifacts to non-prod
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Revert "Merge branch 'hswimelar-master-patch-07670' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 185c26aff38295742e4d9264fa920c1775883baa in pre
  releases/gitlab/values/pre.yaml.gotmpl
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/values.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/pre/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/pre/charts/registry/values.yaml
  vendor/charts/gitlab/pre/templates/_checkConfig_registry.tpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Cny: Return Registry Min Replicas to Previous Value After Migration
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Update deployments for CDN to v3 of secret
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Prod: Return Registry Min Replicas to Previous Value After Migration
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Move to using helm log for monitoring rollout of resources
  bin/k-ctl
  bin/watch-gitlab-deployments.sh
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Configure the redis cache for registry in gstg
  releases/gitlab-external-secrets/values/gstg.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Prod: increase registry garbage collection review interval from 1s to 500ms
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Enable metrics exporter logs in pre + gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Add BulkImports::RelationExportWorker to imports shard to gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Configure the redis cache for registry in gprd
  releases/gitlab-external-secrets/values/gprd.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade
