Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Moves the websockets workload to a differing node pool
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: set container registry migration tagconcurrency to 3
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart c1b63f3a4867886bc1212d86985fc70e66b717c5 in pre
  bases/environments.yaml
  charts/gitlab/pre/.gitlab-ci.yml
  charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/_shell.tpl
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/migrations/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/webservice/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/templates/_database.yml.tpl
  charts/gitlab/pre/charts/gitlab/templates/_geo.tpl
  charts/gitlab/pre/charts/gitlab/templates/_objectStorage.tpl
  charts/gitlab/pre/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  charts/gitlab/pre/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  charts/gitlab/pre/charts/nginx-ingress/values.yaml
  charts/gitlab/pre/templates/_runcheck.tpl
  charts/gitlab/pre/templates/_shell.tpl
  charts/gitlab/pre/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart c1b63f3a4867886bc1212d86985fc70e66b717c5 in gstg
  bases/environments.yaml
  charts/gitlab/gstg/.gitlab-ci.yml
  charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/_shell.tpl
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/migrations/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/templates/_database.yml.tpl
  charts/gitlab/gstg/charts/gitlab/templates/_geo.tpl
  charts/gitlab/gstg/charts/gitlab/templates/_objectStorage.tpl
  charts/gitlab/gstg/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  charts/gitlab/gstg/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  charts/gitlab/gstg/charts/nginx-ingress/values.yaml
  charts/gitlab/gstg/templates/_runcheck.tpl
  charts/gitlab/gstg/templates/_shell.tpl
  charts/gitlab/gstg/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart c1b63f3a4867886bc1212d86985fc70e66b717c5 in gprd
  bases/environments.yaml
  charts/gitlab/gprd/.gitlab-ci.yml
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/_shell.tpl
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/templates/_database.yml.tpl
  charts/gitlab/gprd/charts/gitlab/templates/_geo.tpl
  charts/gitlab/gprd/charts/gitlab/templates/_objectStorage.tpl
  charts/gitlab/gprd/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  charts/gitlab/gprd/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  charts/gitlab/gprd/charts/nginx-ingress/values.yaml
  charts/gitlab/gprd/templates/_runcheck.tpl
  charts/gitlab/gprd/templates/_shell.tpl
  charts/gitlab/gprd/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Override deprecated jobs which do not have a stage defined
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Moves GitLab Shell to the new node pool
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Moves Web deployment to the new node pool
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Pre and Staging: Bump Container Registry to v3.41.1-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: Bump Container Registry to v3.41.1-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Update kas to v15.0.0 in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

convert secret rails env values to be sourced from secrets in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Update CI image
  .gitlab-ci.yml
  .tool-versions
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Add the report URI back to the CSP
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Fix nginx PDB by using maxUnavailable
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Prod: set container registry migration tagconcurrency to 4
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Moves the API workload in production to new node pool
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable Proxy Protocol support for GitLab Shell
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Move sidekiq-urgent-other to node-pool with ssds
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.42.0 (pre/gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.42.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: set container registry migration tagconcurrency to 6
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump resource requests for websockets
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Pre and Staging: Bump Container Registry to v3.43.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Prod: Bump Container Registry to v3.43.0-gitlab
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable correlation ID propagation for Git over SSH requests
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Bump to Gitlab chart 3c028ffa74d189639f3815de42213363cab82dc2 in pre
  bases/environments.yaml
  charts/gitlab/pre/.gitlab-ci.yml
  charts/gitlab/pre/CHANGELOG.md
  charts/gitlab/pre/Chart.yaml
  charts/gitlab/pre/charts/gitlab-runner-0.40.1.tgz
  charts/gitlab/pre/charts/gitlab-runner-0.41.0.tgz
  charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/_shell.tpl
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/kas/templates/deployment.yaml
  charts/gitlab/pre/charts/gitlab/charts/kas/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/pre/charts/registry/Chart.yaml
  charts/gitlab/pre/charts/registry/values.yaml
  charts/gitlab/pre/requirements.yaml
  charts/gitlab/pre/templates/_checkConfig.tpl
  charts/gitlab/pre/templates/_checkConfig_gitlab_shell.tpl
  charts/gitlab/pre/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 3c028ffa74d189639f3815de42213363cab82dc2 in gstg
  bases/environments.yaml
  charts/gitlab/gstg/.gitlab-ci.yml
  charts/gitlab/gstg/CHANGELOG.md
  charts/gitlab/gstg/Chart.yaml
  charts/gitlab/gstg/charts/gitlab-runner-0.40.1.tgz
  charts/gitlab/gstg/charts/gitlab-runner-0.41.0.tgz
  charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/_shell.tpl
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/kas/templates/deployment.yaml
  charts/gitlab/gstg/charts/gitlab/charts/kas/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gstg/charts/registry/Chart.yaml
  charts/gitlab/gstg/charts/registry/values.yaml
  charts/gitlab/gstg/requirements.yaml
  charts/gitlab/gstg/templates/_checkConfig.tpl
  charts/gitlab/gstg/templates/_checkConfig_gitlab_shell.tpl
  charts/gitlab/gstg/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 3c028ffa74d189639f3815de42213363cab82dc2 in gprd
  bases/environments.yaml
  charts/gitlab/gprd/.gitlab-ci.yml
  charts/gitlab/gprd/CHANGELOG.md
  charts/gitlab/gprd/Chart.yaml
  charts/gitlab/gprd/charts/gitlab-runner-0.40.1.tgz
  charts/gitlab/gprd/charts/gitlab-runner-0.41.0.tgz
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/_shell.tpl
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/templates/deployment.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/templates/_jobspec.yaml
  charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  charts/gitlab/gprd/charts/gitlab/charts/toolbox/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gprd/charts/registry/Chart.yaml
  charts/gitlab/gprd/charts/registry/values.yaml
  charts/gitlab/gprd/requirements.yaml
  charts/gitlab/gprd/templates/_checkConfig.tpl
  charts/gitlab/gprd/templates/_checkConfig_gitlab_shell.tpl
  charts/gitlab/gprd/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Moves the websockets deployment in canary to the new node pool
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Moves the git workloads in Canary to their new node pools
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

convert secret rails env values to be sourced from secrets in gprd
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Moves the web deployment in canary to the new node pool
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Moves the api deployment in canary to the new node pool
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Switch to default blackout period for the websockets deployment
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Drop Arkose configuration from environment variables
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Move staging workloads to new node pools
  releases/gitlab/values/gstg-cny.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Bump to Gitlab chart 5e64fd2d995c25f924c06156377d5971f9c886df in pre
  bases/environments.yaml
  charts/gitlab/pre/.gitlab-ci.yml
  charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/values.schema.json
  charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/pre/charts/gitlab/charts/mailroom/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/pre/charts/gitlab/charts/webservice/templates/configmap.yml
  charts/gitlab/pre/charts/minio/templates/create-buckets-job.yaml
  charts/gitlab/pre/charts/minio/values.yaml
  charts/gitlab/pre/charts/registry/Chart.yaml
  charts/gitlab/pre/charts/registry/values.yaml
  charts/gitlab/pre/templates/upgrade_check_hook.yaml
  charts/gitlab/pre/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump to Gitlab chart 5e64fd2d995c25f924c06156377d5971f9c886df in gstg
  bases/environments.yaml
  charts/gitlab/gstg/.gitlab-ci.yml
  charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/values.schema.json
  charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/values.yaml
  charts/gitlab/gstg/charts/gitlab/charts/mailroom/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/configmap.yaml
  charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/configmap.yml
  charts/gitlab/gstg/charts/minio/templates/create-buckets-job.yaml
  charts/gitlab/gstg/charts/minio/values.yaml
  charts/gitlab/gstg/charts/registry/Chart.yaml
  charts/gitlab/gstg/charts/registry/values.yaml
  charts/gitlab/gstg/templates/upgrade_check_hook.yaml
  charts/gitlab/gstg/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Change rack-attack to be pulled from Kubernetes secrets in nonprod
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/helmfile.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa
