Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Path conditions:
  gprd-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:qa: any of: vendor/charts/gitlab/gstg/**/*, vendor/charts/gitlab-runner/gstg/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/gstg*
  gstg:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:qa: any of: vendor/charts/gitlab/pre/**/*, vendor/charts/gitlab-runner/pre/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/pre*
  pre:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml

Revert "Merge branch 'hswimelar-master-patch-41496' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump container registry to v3.55.0 (pre/gstg)
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump container registry to v3.55.0 (gprd)
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Update the node selectors and add node tolerations to move to the new tainted node pools in gprd
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump container registry to v3.56.0 (pre/gstg)
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Empty the digest for the NGINX controller image
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

[gstg] Reduce the default TTL for Rails cache
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

[gprd] Reduce the default TTL for Rails cache
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Refactor `ci` files to be jsonnet and use rules
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  bin/k-ctl
  ci/check-vendored-charts.libsonnet
  ci/check-vendored-charts.yml
  ci/cluster-init-before-script.yml
  ci/shellcheck.libsonnet
  ci/shellcheck.yml
  ci/version-checks.libsonnet
  ci/version-checks.yml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Fix `sendEvent` function in `k-ctl`
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  bin/k-ctl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Prod: increase registry gc review time from 24h to 48h
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 4456dd0cd3fa2296d613b6061b328c7c48638263 in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/.gitlab/merge_request_templates/Documentation.md
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/templates/pdb-with-praefect.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/minio/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  vendor/charts/gitlab/gstg/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  vendor/charts/gitlab/gstg/charts/registry/Chart.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gstg/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/pdb.yaml
  vendor/charts/gitlab/gstg/charts/registry/values.yaml
  vendor/charts/gitlab/gstg/templates/_certificates.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gstg/templates/_pdb.tpl
  vendor/charts/gitlab/gstg/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 4456dd0cd3fa2296d613b6061b328c7c48638263 in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/.gitlab/merge_request_templates/Documentation.md
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/templates/pdb-with-praefect.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/minio/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  vendor/charts/gitlab/gprd/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  vendor/charts/gitlab/gprd/charts/registry/Chart.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gprd/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/pdb.yaml
  vendor/charts/gitlab/gprd/charts/registry/values.yaml
  vendor/charts/gitlab/gprd/templates/_certificates.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gprd/templates/_pdb.tpl
  vendor/charts/gitlab/gprd/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 4456dd0cd3fa2296d613b6061b328c7c48638263 in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/.gitlab/merge_request_templates/Documentation.md
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/templates/pdb-with-praefect.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/minio/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/nginx-ingress/templates/controller-poddisruptionbudget.yaml
  vendor/charts/gitlab/pre/charts/nginx-ingress/templates/default-backend-poddisruptionbudget.yaml
  vendor/charts/gitlab/pre/charts/registry/Chart.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/pre/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/pdb.yaml
  vendor/charts/gitlab/pre/charts/registry/values.yaml
  vendor/charts/gitlab/pre/templates/_certificates.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/pre/templates/_pdb.tpl
  vendor/charts/gitlab/pre/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Update kas to v15.3.0 in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Update shfmt and shellcheck images to official ones and extend RenovateBot configuration
  .gitlab-ci.yml
  .tool-versions
  ci/shellcheck.libsonnet
  renovate.json
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Update kas to v15.3.0 in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Fix the helmfile repository for RenovateBot
  .tool-versions
Due: none

fix: Adds ENVIRONMENT_WITHOUT_STAGE for sendEvent
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  bin/k-ctl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Prod: Bump Container Registry to v3.56.0-gitlab
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Revert "Merge branch 'hswimelar-master-patch-04763' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Update dependency helm/helm to v3.9.3
  .tool-versions
Due: none

Update alpine Docker tag to v3.16.2
  .gitlab-ci.yml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Reduce default Rails cache TTL to 12 hours
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

[gprd] Run diagnostic reports on selected nodes
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

GPRD: Remove unused env vars for CI decomposition
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

GSTG: Remove unused env vars for CI decomposition
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Sets UNSTRUCTURED_RAILS_LOG=false for Sidekiq
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump container registry to v3.57.0 (pre/gstg)
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump container registry to v3.57.0 (gprd)
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Reduce default rails cache TTL from 12h to 8h
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Set registry online GC storage timeout to 2s (pre/gstg)
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Set registry online GC storage timeout to 2s (gprd)
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Adds Certificate/Issuer for kas1.pre.gitlab.com
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Revert "Merge branch 'jts/enable-kas1-dns-cert-issuance' into 'master'"
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Increase prod registry gc review time from 24h to 48h
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 30b26521017178031bf2cfdacd3d4eab78e8af82 in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/templates/configmap.yml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/configmap.yml
  vendor/charts/gitlab/gprd/charts/gitlab/templates/_configure.tpl
  vendor/charts/gitlab/gprd/charts/gitlab/templates/_pages.tpl
  vendor/charts/gitlab/gprd/charts/registry/Chart.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/registry/values.yaml
  vendor/charts/gitlab/gprd/templates/NOTES.txt
  vendor/charts/gitlab/gprd/templates/_checkConfig.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gprd/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 30b26521017178031bf2cfdacd3d4eab78e8af82 in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/templates/configmap.yml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/configmap.yml
  vendor/charts/gitlab/gstg/charts/gitlab/templates/_configure.tpl
  vendor/charts/gitlab/gstg/charts/gitlab/templates/_pages.tpl
  vendor/charts/gitlab/gstg/charts/registry/Chart.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/registry/values.yaml
  vendor/charts/gitlab/gstg/templates/NOTES.txt
  vendor/charts/gitlab/gstg/templates/_checkConfig.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gstg/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 30b26521017178031bf2cfdacd3d4eab78e8af82 in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/templates/configmap.yml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/templates/configmap.yml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/backup-job.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/configmap.yml
  vendor/charts/gitlab/pre/charts/gitlab/templates/_configure.tpl
  vendor/charts/gitlab/pre/charts/gitlab/templates/_pages.tpl
  vendor/charts/gitlab/pre/charts/registry/Chart.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/registry/values.yaml
  vendor/charts/gitlab/pre/templates/NOTES.txt
  vendor/charts/gitlab/pre/templates/_checkConfig.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/pre/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Revert "Increase prod registry gc review time from 24h to 48h"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade
