Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Moves nginx settings from only non-prod to all envs
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Moves nginx settings from only non-prod to all envs
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bump the CHART_VERSION in preprod for traffic splitting in preprod
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Set mailroom deployment to "mailroom"
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bumps the chart version for gstg
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds minReplicas: 1 for web
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Creates web and git deployments
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jarv/bumps-chart-version-gstg' into 'master'"
  .gitlab-ci.yml
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Merge branch 'jarv/bumps-chart-version-gstg' into 'master'
  .gitlab-ci.yml
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Fixes shell internal api endpoint
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Bumps the Chart version and enabled traffic splitting in Production
  .gitlab-ci.yml
  CHART_VERSION
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Reduces the min avail pods for container registry
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Updates the zonal image check for traffic split
  auto-deploy-image-check/gstg-zonal.json
Due: none

Use the service-name instead of the full endpoint
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Updates deployment check for deployment split
  auto-deploy-image-check/gprd-cny.json
Due: none

Lowers the min for web to the default
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Updates our checker for the deployment split in gprd
  auto-deploy-image-check/gprd-zonal.json
Due: none

Adds test file
  test-file.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jts/test1396' into 'master'"
  test-file.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

lets add the file and only change it over the course of time to remove the step necessary to touch this repo twice for one change
  .gitlab-ci.yml
  CHEF_CONFIG_UPDATE
  README.md
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Extends the graceperiod from the default of 60 to 120 seconds
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Sets the access log to use json format
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Sets the Registry loglevel to info
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Use new 3.6.0 common image for k8s-workloads runner
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds Helm 2to3 dry-run jobs for pre/gstg/gprd
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds dry-runs for the zonal clusters
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Adds a USE_HELM3 option so that we can start using helm3 in some envs
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Apply 1 suggestion(s) to 1 file(s)
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Bump mailroom to v0.0.8
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Update chart version
  CHART_VERSION
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Updates the CHART_VERSION for nginx hpa v2beta
  CHART_VERSION
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Updates the CHART_VERSION for nginx hpa v2beta
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Updates the CHART_VERSION for nginx hpa v2beta
  .gitlab-ci.yml
  CHART_VERSION
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Removes appconfig settings that are already the default
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

Remove nil value for time_zone
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa

USE_HELM3 for preprod
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Bumps CHART_VERSION for non-prod environments
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Revert "Merge branch 'jarv/nginx-0.41.2-nonprod' into 'master'"
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade

Disable setting of PostgreSQL application_name
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, gstg:qa

Update CHART_VERSION to pull in support for disabling application_name
  CHART_VERSION
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd:upgrade, pre:qa, gstg:qa
