Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*

Add stg customer portal url to sidekiq pod
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Migrate pre to default-2 node pool
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

increase gstg maxReplicas for registry
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Sidekiq needs tokens to talk to Customers
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

increase number of max replicas for catchall and urgent-cpu-bound
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Use new ratelimiting Redis for RackAttack in gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

lower to 30% increase to fit onto existing node pools
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Apply 1 suggestion(s) to 1 file(s)
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Document environment version bump expectations
  README.md
Due: none

Add a report-uri to the CSP
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump chart_version in gprd
  bases/environments.yaml
  charts/gitlab/gprd/.gitlab-ci.yml
  charts/gitlab/gprd/CHANGELOG.md
  charts/gitlab/gprd/Chart.yaml
  charts/gitlab/gprd/charts/gitlab-runner-0.32.0.tgz
  charts/gitlab/gprd/charts/gitlab-runner-0.33.0.tgz
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/kas/values.yaml
  charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/migrations/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/operator/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/task-runner/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/task-runner/templates/configmap.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/configmap.yml
  charts/gitlab/gprd/charts/gitlab/templates/_kas.tpl
  charts/gitlab/gprd/charts/gitlab/templates/_rails.redis.tpl
  charts/gitlab/gprd/charts/gitlab/templates/_redis.tpl
  charts/gitlab/gprd/charts/registry/templates/deployment.yaml
  charts/gitlab/gprd/charts/registry/values.yaml
  charts/gitlab/gprd/requirements.yaml
  charts/gitlab/gprd/scripts/ci/autodevops.sh
  charts/gitlab/gprd/scripts/create_operator_mr.sh
  charts/gitlab/gprd/scripts/gitlab_charts_helper.rb
  charts/gitlab/gprd/values.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Configure the ratelimiting redis for staging
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

add api LB ip
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

add API loadBalancerIP only for non-prod envs
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

simplify prod guard for api LB IP
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

add API LB IP for gprd
  releases/gitlab/values/values-from-external-sources.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Bump kas to v14.4.0-rc1 on pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Add `charts/gitlab/**` to changes stanza for QA jobs
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump kas to v14.4.0-rc1 on gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Allow pages to talk to the API
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Touch CHEF_CONFIG_UPDATE to pick up new Redis settings
  CHEF_CONFIG_UPDATE
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

[gprd] Use new ratelimiting Redis for Rack::Attack
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Add `watch-gitlab-deployments.sh`
  bin/k-ctl
  bin/watch-gitlab-deployments.sh
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump CI image to include full version of ps
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Consolidate null Sidekiq routing rules
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Bump container registry to v3.12.0 (pre)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.12.0 (gstg)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump container registry to v3.12.0 (gprd)
  bases/environments.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Remove USE_RATE_LIMITING_STORE_FOR_RACK_ATTACK
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Add `type` label to all gitlab-pages objects
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Provide a CA bundle for GRPC to talk to spamcheck
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Remove the GRPC cert bundle env var in gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Query correct namespace when canary
  bin/watch-gitlab-deployments.sh
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Remove sourcegraph from CSP on staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Temporarily raise memory-bound replicas
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Temporarily raise memory-bound replicas"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Bump gitlab CI image used to drop helm-git and other helm plugins
  .gitlab-ci.yml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Upgrade versions of helm and helmfile
  .gitlab-ci.yml
  .tool-versions
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Ensure Pages version matches that of the GitLab Application
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade
