Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Path conditions:
  gprd-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:qa: any of: vendor/charts/gitlab/gstg/**/*, vendor/charts/gitlab-runner/gstg/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/gstg*
  gstg:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:qa: any of: vendor/charts/gitlab/pre/**/*, vendor/charts/gitlab-runner/pre/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/pre*
  pre:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml

Revert test license mode for pre env
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Enable GITLAB_WORKHORSE_REDIS_SUBSCRIBE_MANY in gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

fix(gstg): web container serves 502 errors
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Enable GITLAB_WORKHORSE_REDIS_SUBSCRIBE_MANY in gprd-cny
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Set GITLAB_WORKHORSE_REDIS_SUBSCRIBE_MANY in gprd-us-east1-d
  releases/gitlab/values/gprd-us-east1-d.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Set GITLAB_WORKHORSE_REDIS_SUBSCRIBE_MANY in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Temporarily reduce our webservice rollout strat
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Removes certificate addition to KAS on pre
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Remove KAS Ingress from Preprod
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Reconfigures kas in pre to near its original config
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump to Gitlab chart 4651156c014a63886d64369b1432415ed4ee5ed3 in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/templates/_service_spec.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/templates/service.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/templates/service-metrics.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/templates/service.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/templates/service.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/service.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/values.yaml
  vendor/charts/gitlab/gprd/charts/minio/templates/minio_svc.yaml
  vendor/charts/gitlab/gprd/charts/nginx-ingress/templates/controller-service-internal.yaml
  vendor/charts/gitlab/gprd/charts/nginx-ingress/templates/controller-service-webhook.yaml
  vendor/charts/gitlab/gprd/charts/nginx-ingress/templates/controller-service.yaml
  vendor/charts/gitlab/gprd/charts/nginx-ingress/templates/default-backend-service.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gprd/charts/registry/templates/service.yaml
  vendor/charts/gitlab/gprd/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gprd/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 4651156c014a63886d64369b1432415ed4ee5ed3 in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/templates/_service_spec.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/templates/service.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/templates/service-metrics.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/templates/service.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/templates/service.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/service.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/values.yaml
  vendor/charts/gitlab/pre/charts/minio/templates/minio_svc.yaml
  vendor/charts/gitlab/pre/charts/nginx-ingress/templates/controller-service-internal.yaml
  vendor/charts/gitlab/pre/charts/nginx-ingress/templates/controller-service-webhook.yaml
  vendor/charts/gitlab/pre/charts/nginx-ingress/templates/controller-service.yaml
  vendor/charts/gitlab/pre/charts/nginx-ingress/templates/default-backend-service.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/pre/charts/registry/templates/service.yaml
  vendor/charts/gitlab/pre/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/pre/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump to Gitlab chart 4651156c014a63886d64369b1432415ed4ee5ed3 in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/templates/_service_spec.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/templates/service.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/templates/service-metrics.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/templates/service.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/templates/service.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/service.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/values.yaml
  vendor/charts/gitlab/gstg/charts/minio/templates/minio_svc.yaml
  vendor/charts/gitlab/gstg/charts/nginx-ingress/templates/controller-service-internal.yaml
  vendor/charts/gitlab/gstg/charts/nginx-ingress/templates/controller-service-webhook.yaml
  vendor/charts/gitlab/gstg/charts/nginx-ingress/templates/controller-service.yaml
  vendor/charts/gitlab/gstg/charts/nginx-ingress/templates/default-backend-service.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gstg/charts/registry/templates/service.yaml
  vendor/charts/gitlab/gstg/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gstg/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Revert "Merge branch 'jdrpereira-master-patch-58633' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Enable Redis metadata caching for Container Registry (pre)
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

redis: fix redis-ratelimiting masterSet in pre to "mymaster"
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump chart in pre to 12babc62
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/charts/registry/templates/_redis.tpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

feat: Add gitaly nodes file78 & file79 to gprd config
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Revert maxUnavailable from 2 to 0 pods for webservice
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Make `kas.image.tag` use auto-deploy image tags
  auto-deploy-image-check/gprd.json
  auto-deploy-image-check/gstg.json
  auto-deploy-image-check/pre.json
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/init-values.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Change all use of `when: always` to `when: on_success`
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  ci/check-vendored-charts.libsonnet
  ci/shellcheck.libsonnet
  ci/version-checks.libsonnet
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Enables the Container Registry to access Redis
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

SORT
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Enable kas in gstg-cny
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

modify gstg-cny kas netpol egress policy
  bases/environments.yaml
  releases/gitlab/values/gstg-cny.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Set internal IP for kas in gstg cny stage
  releases/gitlab/values/gstg-cny.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Prod: Increase prod registry gc review delay and migration timeouts
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Revert "Merge branch 'hswimelar-master-patch-05652' into 'master'"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Prevent the chart bumps on weekends from running QA
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Cleans up KAS objects in lower environments
  bases/environments.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

some attributes are apparently required
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

move attributes due to incorrect nesting
  bases/environments.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

oops, only disable for non prod
  bases/environments.yaml
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

fix if statement
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Remove obsolete feature flag env var
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd-us-east1-d.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart fab415ebb68590c370b51b931a547b2b2db190b1 in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/.markdownlint.yml
  vendor/charts/gitlab/gstg/.rubocop.yml
  vendor/charts/gitlab/gstg/Gemfile
  vendor/charts/gitlab/gstg/Gemfile.lock
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/templates/deployment.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/_helpers.tpl
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/configmap.yml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/deployment.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/templates/_kerberos.tpl
  vendor/charts/gitlab/gstg/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gstg/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/gstg/charts/registry/templates/service.yaml
  vendor/charts/gitlab/gstg/charts/registry/values.yaml
  vendor/charts/gitlab/gstg/templates/_certificates.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig_gitaly.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig_gitlab_exporter.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gstg/templates/_checkConfig_webservice.tpl
  vendor/charts/gitlab/gstg/templates/_registry.tpl
  vendor/charts/gitlab/gstg/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart fab415ebb68590c370b51b931a547b2b2db190b1 in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/.markdownlint.yml
  vendor/charts/gitlab/gprd/.rubocop.yml
  vendor/charts/gitlab/gprd/Gemfile
  vendor/charts/gitlab/gprd/Gemfile.lock
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/templates/deployment.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/_helpers.tpl
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/configmap.yml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/deployment.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/templates/_kerberos.tpl
  vendor/charts/gitlab/gprd/charts/registry/templates/_redis.tpl
  vendor/charts/gitlab/gprd/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/gprd/charts/registry/templates/service.yaml
  vendor/charts/gitlab/gprd/charts/registry/values.yaml
  vendor/charts/gitlab/gprd/templates/_certificates.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig_gitaly.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig_gitlab_exporter.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/gprd/templates/_checkConfig_webservice.tpl
  vendor/charts/gitlab/gprd/templates/_registry.tpl
  vendor/charts/gitlab/gprd/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart fab415ebb68590c370b51b931a547b2b2db190b1 in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/.markdownlint.yml
  vendor/charts/gitlab/pre/.rubocop.yml
  vendor/charts/gitlab/pre/Gemfile
  vendor/charts/gitlab/pre/Gemfile.lock
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/templates/deployment.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/templates/deployment.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/_helpers.tpl
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/configmap.yml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/deployment.yaml
  vendor/charts/gitlab/pre/charts/gitlab/templates/_kerberos.tpl
  vendor/charts/gitlab/pre/charts/registry/templates/configmap.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/deployment.yaml
  vendor/charts/gitlab/pre/charts/registry/templates/service.yaml
  vendor/charts/gitlab/pre/charts/registry/values.yaml
  vendor/charts/gitlab/pre/templates/_certificates.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig_gitaly.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig_gitlab_exporter.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig_registry.tpl
  vendor/charts/gitlab/pre/templates/_checkConfig_webservice.tpl
  vendor/charts/gitlab/pre/templates/_registry.tpl
  vendor/charts/gitlab/pre/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Enable kas in gprd-cny
  bases/environments.yaml
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade
