Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

pre:dryrun:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-pre
    REGION: us-east1
    USE_HELM3: 'true'
    CLUSTER: pre-gitlab-gke
  environment:
    name: pre
    url: https://pre.gitlab.com
  stage: dryrun
  script:
  ...

pre:upgrade:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-pre
    REGION: us-east1
    USE_HELM3: 'true'
    CLUSTER: pre-gitlab-gke
    DRY_RUN: 'false'
  environment:
    name: pre
    url: https://pre.gitlab.com
  ...

gstg:dryrun:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-staging-1
    USE_HELM3: 'true'
    CLUSTER: gstg-gitlab-gke
    REGION: us-east1
  environment:
    url: https://staging.gitlab.com
    name: gstg
  ...

gstg-us-east1-b:dryrun:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-staging-1
    USE_HELM3: 'true'
    CLUSTER: gstg-us-east1-b
    REGION: us-east1-b
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-b
  ...

gstg-us-east1-c:dryrun:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-staging-1
    USE_HELM3: 'true'
    CLUSTER: gstg-us-east1-c
    REGION: us-east1-c
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-c
  ...

gstg-us-east1-d:dryrun:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-staging-1
    USE_HELM3: 'true'
    CLUSTER: gstg-us-east1-d
    REGION: us-east1-d
  environment:
    url: https://staging.gitlab.com
    name: gstg-us-east1-d
  ...

gstg:upgrade:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-staging-1
    USE_HELM3: 'true'
    CLUSTER: gstg-gitlab-gke
    REGION: us-east1
    DRY_RUN: 'false'
  environment:
    url: https://staging.gitlab.com
    name: gstg
  ...

gstg-us-east1-b:upgrade:
  image: ${CI_REGISTRY}/gitlab-com/gl-infra/k8s-workloads/common/k8-helm-ci:${CI_IMAGE_VERSION}
  tags:
  - k8s-workloads
  variables:
    PROJECT: gitlab-staging-1
    USE_HELM3: 'true'
    CLUSTER: gstg-us-east1-b
    REGION: us-east1-b
    DRY_RUN: 'false'
  environment:
    url: https://staging.gitlab.com
  ...

add some more settings needed after offline migration
  bases/environments.yaml
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Change consul ns record to be fully qualified in production.
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Merge branch 'hp-pre_reg_db' into 'master'"
  bases/environments.yaml
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Increase the BRPOP timeout for sidekiq-fetch
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Increase BRPOP timeout for sidekiq gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Set ENABLE_LOAD_BALANCING_FOR_SIDEKIQ to true
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Adds loadbalancing for sidekiq
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Add Contributing guidelines for the k8s-workloads/gitlab-com project
  CONTRIBUTING.md
Due: none

Set ENABLE_LOAD_BALANCING_FOR_SIDEKIQ to true for staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Enables GitLab-Logger on Sidekiq for all envs
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enables GitLab-Logger on Webservices for all envs
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Remove `nodeselector` from `kas`
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enables the ability to send client IP's to webservice Pods
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jts/proxy-real-ip' into 'master'"
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Configure ingress-nginx to keep the real client IP in `X-Forwarded-For`
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

configure registry in `pre` to use cloud sql db
  bases/environments.yaml
  releases/gitlab-secrets/helmfile.yaml
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Deploys the API service into our Canary stage
  releases/gitlab/values/gprd-cny.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable the pipeline validation service in staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Add new helm release for gitlab-runner in pre
  bases/environments.yaml
  helmfile.yaml
  releases/gitlab-runner/helmfile.yaml
  releases/gitlab-runner/values.yaml.gotmpl
  releases/gitlab-secrets/helmfile.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Fixes the location of where the secret is located for the runner
  bases/environments.yaml
  releases/gitlab-runner/helmfile.yaml
  releases/gitlab-secrets/helmfile.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enables Geo to abuse our notification_secret in gitlab.yml
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Reduces the resources required to run preprod
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Adds api canary to the image check
  auto-deploy-image-check/gprd-cny.json
Due: none

allow privilege escalation for K8s runners
  releases/gitlab-runner/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Revert "Merge branch 'jts/enable-registry-notification' into 'master'"
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enable GITLAB_TEMPFILE_IMMEDIATE_UNLINK on staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Enable GITLAB_TEMPFILE_IMMEDIATE_UNLINK on production
  releases/gitlab/values/gprd-cny.yaml.gotmpl
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable GITLAB_TEMPFILE_IMMEDIATE_UNLINK on preprod
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Bump container registry to v3.3.0-gitlab
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/init-values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, gstg:qa

Prevent the diff checking to catch the Container Registry Migrations
  bin/k-ctl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enables Geo to abuse our notification_secret in gitlab.yml
  bases/environments.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Revert "Merge branch 'jts/enable-registry-notification-again' into 'master'"
  bases/environments.yaml
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Add docker tls volumemount to gitlab-runner jobs
  releases/gitlab-runner/values.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Add the ability to disable helmfile talking to gitlab.com in CI
  README.md
  bin/gitlab-access.sh
  releases/gitlab/helmfile.yaml
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

set max db connections for registry db in pre
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa

Bump kas to v13.11.1 on pre and gstg for v13.11 release
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade, pre:qa, gstg:qa

Enable sidekiq memory-bound db load-balancing
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Remove cluster-wide load-balancing enablement
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Enable ENABLE_LOAD_BALANCING_FOR_SIDEKIQ for gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Adjust indentation for psql block
  releases/gitlab/values/gprd.yaml.gotmpl
Due: pre:dryrun, pre:upgrade, gstg:dryrun, gstg-us-east1-b:dryrun, gstg-us-east1-c:dryrun, gstg-us-east1-d:dryrun, gstg:upgrade, gstg-us-east1-b:upgrade, gstg-us-east1-c:upgrade, gstg-us-east1-d:upgrade, gprd-cny:dryrun, gprd-cny:upgrade, gprd:dryrun, gprd-us-east1-b:dryrun, gprd-us-east1-c:dryrun, gprd-us-east1-d:dryrun, gprd:upgrade, gprd-us-east1-b:upgrade, gprd-us-east1-c:upgrade, gprd-us-east1-d:upgrade

Path conditions:
  pre:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gstg-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-cny:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:dryrun: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-b:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-c:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  gprd-us-east1-d:upgrade: any of: CHART_VERSION, bases/**/*, bin/**/*, releases/**/*, *.yaml, .gitlab-ci.yml, CHEF_CONFIG_UPDATE
  pre:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/pre*
  gstg:qa: any of: CHART_VERSION, *.yaml, releases/gitlab-secrets/*, releases/gitlab/helmfile.yaml, releases/gitlab/values/jq/*, releases/gitlab/values/values*, releases/gitlab/values/gstg*
