Repository shot4free/test_k8s_workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Path conditions:
  gprd-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gprd:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-cny:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-b:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-c:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg-us-east1-d:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  gstg:qa: any of: vendor/charts/gitlab/gstg/**/*, vendor/charts/gitlab-runner/gstg/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/gstg*
  gstg:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:dryrun: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml
  pre:qa: any of: vendor/charts/gitlab/pre/**/*, vendor/charts/gitlab-runner/pre/**/*, .gitlab-ci.yml, *.yaml, releases/gitlab/helmfile.yaml, releases/gitlab/values/values*, releases/gitlab/values/pre*
  pre:upgrade: any of: vendor/charts/gitlab/**/*, bases/**/*, bin/**/*, releases/**/*, *.yaml, *.yml, .gitlab-ci.yml

Update the k8-helm-ci and alpine images and configure Renovate for them
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
  .tool-versions
  renovate.json
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Adds Certificate/Issuer for kas1.pre.gitlab.com
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Move away from the separate runner chart by starting to use the existing
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Revert "Merge branch 'jts/add-auto-bump-for-others' into 'master'"
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Remove the last references to `only` and `except` from all of CI
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Add gitlab-exporter type: label
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Corrects the runner namespace for preprod
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Switch the kas1 issuer to utilize a token
  releases/gitlab-extras/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Remove `.trigger-qa-smoke` altogether
  .gitlab-ci.jsonnet
  .gitlab-ci.yml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Adds custom certificates to KAS in preprod
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Revert "Merge branch 'jts/add-custom-certs-to-kas-preprod' into 'master'"
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Add gitlab-runner labels
  vendor/charts/gitlab-runner/pre/templates/configmap.yaml
  vendor/charts/gitlab-runner/pre/templates/deployment.yaml
  vendor/charts/gitlab-runner/pre/templates/role-binding.yaml
  vendor/charts/gitlab-runner/pre/templates/role.yaml
  vendor/charts/gitlab-runner/pre/templates/service-account.yaml
Due: pre:qa

Add missing type labels
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Increase prod registry gc review time from 24h to 48h
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Update kas to v15.4.0-rc1 in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Adds KAS config to consume custom certificates
  bin/k-ctl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Update kas to v15.4.0-rc1 in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart bd28c5fa265008b1176a25270167d8ff145e0e0e in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/.gitlab-ci.yml
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab-runner-0.43.1.tgz
  vendor/charts/gitlab/gprd/charts/gitlab-runner-0.44.0.tgz
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/deps.yml
  vendor/charts/gitlab/gprd/requirements.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart bd28c5fa265008b1176a25270167d8ff145e0e0e in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/.gitlab-ci.yml
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab-runner-0.43.1.tgz
  vendor/charts/gitlab/gstg/charts/gitlab-runner-0.44.0.tgz
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/deps.yml
  vendor/charts/gitlab/gstg/requirements.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart bd28c5fa265008b1176a25270167d8ff145e0e0e in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/.gitlab-ci.yml
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab-runner-0.43.1.tgz
  vendor/charts/gitlab/pre/charts/gitlab-runner-0.44.0.tgz
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/deps.yml
  vendor/charts/gitlab/pre/requirements.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Revert "Increase prod registry gc review time from 24h to 48h"
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Update kas to v15.4.0 in pre and gstg
  releases/gitlab/values/gstg.yaml.gotmpl
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Update kas to v15.4.0 in gprd
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Remove the Runner helm chart
  README.md
  bases/environments.yaml
  helmfile.yaml
  releases/gitlab-runner/helmfile.yaml
  releases/gitlab-runner/values.yaml.gotmpl
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab-runner/pre/.gitlab-ci.yml
  vendor/charts/gitlab-runner/pre/.gitlab/changelog.yml
  vendor/charts/gitlab-runner/pre/.helmignore
  vendor/charts/gitlab-runner/pre/CHANGELOG.md
  vendor/charts/gitlab-runner/pre/CONTRIBUTING.md
  vendor/charts/gitlab-runner/pre/Chart.yaml
  vendor/charts/gitlab-runner/pre/LICENSE
  vendor/charts/gitlab-runner/pre/Makefile
  vendor/charts/gitlab-runner/pre/NOTICE
  vendor/charts/gitlab-runner/pre/README.md
  vendor/charts/gitlab-runner/pre/templates/NOTES.txt
  vendor/charts/gitlab-runner/pre/templates/_cache.tpl
  vendor/charts/gitlab-runner/pre/templates/_env_vars.tpl
  vendor/charts/gitlab-runner/pre/templates/_helpers.tpl
  vendor/charts/gitlab-runner/pre/templates/configmap.yaml
  vendor/charts/gitlab-runner/pre/templates/deployment.yaml
  vendor/charts/gitlab-runner/pre/templates/hpa.yaml
  vendor/charts/gitlab-runner/pre/templates/role-binding.yaml
  vendor/charts/gitlab-runner/pre/templates/role.yaml
  vendor/charts/gitlab-runner/pre/templates/secrets.yaml
  vendor/charts/gitlab-runner/pre/templates/service-account.yaml
  vendor/charts/gitlab-runner/pre/values.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Adds GITLAB_TRACING to Staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Configure GitLab to use a differing FQDN for KAS
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Add missing webservice labels
  releases/gitlab/values/values.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump secret version for GITLAB_TRACING in staging
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Reverts the GITLAB_TRACING env var
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 83c80f177d2cab81659b4b9b8d805abc12ca57ab in pre
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/pre/CHANGELOG.md
  vendor/charts/gitlab/pre/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-pages/templates/service-metrics.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/tests/test-runner.yaml
  vendor/charts/gitlab/pre/charts/gitlab/charts/webservice/templates/tests/tests.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Bump to Gitlab chart 83c80f177d2cab81659b4b9b8d805abc12ca57ab in gprd
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gprd/CHANGELOG.md
  vendor/charts/gitlab/gprd/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-pages/templates/service-metrics.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/tests/test-runner.yaml
  vendor/charts/gitlab/gprd/charts/gitlab/charts/webservice/templates/tests/tests.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Bump to Gitlab chart 83c80f177d2cab81659b4b9b8d805abc12ca57ab in gstg
  vendir.lock.yml
  vendir.yml
  vendor/charts/gitlab/gstg/CHANGELOG.md
  vendor/charts/gitlab/gstg/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/geo-logcursor/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitaly/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-exporter/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-grafana/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-pages/templates/service-metrics.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/gitlab-shell/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/kas/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/mailroom/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/migrations/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/praefect/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/sidekiq/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/spamcheck/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/toolbox/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/Chart.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/tests/test-runner.yaml
  vendor/charts/gitlab/gstg/charts/gitlab/charts/webservice/templates/tests/tests.yaml
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Remove the GITLAB_LICENSE_MODE env variable
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Enable test license mode for gstg
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Increase prod registry gc review delay and migration timeouts
  releases/gitlab/values/gprd.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:upgrade

Add test license mode to sidekiq
  releases/gitlab/values/gstg.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:qa, gstg:upgrade, pre:dryrun, pre:upgrade

Set license mode to test for pre env
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

[pre] Use k8s redis-ratelimiting instead of VMs
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade

Change nesting level for extraenv in pre
  releases/gitlab/values/pre.yaml.gotmpl
Due: gprd-cny:dryrun, gprd-cny:upgrade, gprd-us-east1-b:dryrun, gprd-us-east1-b:upgrade, gprd-us-east1-c:dryrun, gprd-us-east1-c:upgrade, gprd-us-east1-d:dryrun, gprd-us-east1-d:upgrade, gprd:dryrun, gprd:upgrade, gstg-cny:dryrun, gstg-cny:upgrade, gstg-us-east1-b:dryrun, gstg-us-east1-b:upgrade, gstg-us-east1-c:dryrun, gstg-us-east1-c:upgrade, gstg-us-east1-d:dryrun, gstg-us-east1-d:upgrade, gstg:dryrun, gstg:upgrade, pre:dryrun, pre:qa, pre:upgrade
